@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap');

/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 100px;
    padding-top: 20px;
  
}
.container-grid{
    width: 1200px;
    margin: 0 auto;
}
.cabecalho{
  height: 100%;
  display: flex;
  justify-content: space-between;  
  align-items: center;
}
.menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
    }
    .menu{
        width: 600px;
        display: flex;
        justify-content: space-between;
        
}
.banner{
height: 180px;
background-image: url(img/controle\ 1.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.jogos{
    background-color: black;
    height: 180px;
 }
.posicionamento-jogos{
    height: 100%;
   }
.container{
    max-width: 1200px;
}
